.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ================================= хедер ================================= */
.header-logo-order-wrapper {
  background-color: #293449;
  display: flex;
  min-width: 960px;
}

.header-user-main-menu-wrapper {
  background-color: #f4f7f9;
}

.header-logo-order-container {
  display: flex;
  position: relative;
}

.header-logo-container {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  position: relative;
  flex-shrink: 0;
}

.header-logo-container::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #b52933;
  bottom: -5px;
  left: 0;
  position: absolute;
}

.header-logo {
  margin: 13px auto 0 auto;
  display: block;
}

.header-logo-container:hover,
.header-logo-container:focus {
  background-color: #ca2c37;
}

.header-logo-container:active {
  background-color: #ba2732;
}

.header-logo-container:hover::after,
.header-logo-container:focus::after {
  background-color: #9a212a;
}

.header-logo-container:active::after {
  background-color: #8e1e26;
}

.header-search-field {
  border: none;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  margin: 0;
  padding: 0px 0px 1px 48px;
  width: 270px;
  box-sizing: border-box;
}

.header-search-field::placeholder {
  color: #ffffff;
}

.header-search-icon {
  position: absolute;
  left: 247px;
  top: 12px;
}

.header-search-icon path {
  fill: rgba(255, 255, 255, 0.3);
}

.header-search-field:hover {
  background-color: #212a3a;
}

.header-search-field:hover ~ .header-search-icon path {
  fill: #ffffff;
}

.header-search-field:active {
  background-color: #293449;
}

.header-search-field:hover ~ .header-search-icon path {
  fill: rgba(255, 255, 255, 0.3);
}

.header-search-field:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-search-field:focus ~ .header-search-icon path {
  fill: #ee3643;
}

.header-bookmarks-button {
  color: #ffffff;
  width: 150px;
  line-height: 42px;
  padding: 0 0 0 44px;
  position: relative;
  box-sizing: border-box;
}

.header-bookmarks-button::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart-button {
  color: #ffffff;
  width: 150px;
  line-height: 42px;
  padding: 0 0 0 49px;
  position: relative;
  box-sizing: border-box;
}

.header-cart-button::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-order-button {
  color: #ffffff;
  width: 150px;
  line-height: 42px;
  text-align: center;
  background-color: #63a63e;
}

.header-bookmarks-button:hover,
.header-bookmarks-button:focus,
.header-cart-button:hover,
.header-cart-button:focus {
  background-color: #212a3a;
}

.header-bookmarks-button:hover::before,
.header-bookmarks-button:focus::before,
.header-cart-button:hover::before,
.header-cart-button:focus::before {
  opacity: 1;
}

.header-order-button:hover,
.header-order-button:focus {
  background-color: #5fbb2d;
}

.header-bookmarks-button:active,
.header-cart-button:active {
  background-color: #161d29;
}

.header-bookmarks-button:active::before,
.header-cart-button:active::before {
  opacity: 0.5;
}

.header-order-button:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}


/* ========================================================================= */
/* ============================== преимущества ============================= */
.promo-features-slider {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: green;
}

.promo-features-slider-container {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 620px;
}

.promo-features-slider-container::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  left: 25px;
  top: 114px;
  background-image: url("../img/features-slider-icon-left.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-features-slider-container::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  right: 20px;
  top: 114px;
  background-image: url("../img/features-slider-icon-right.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-features-slider-item {
  display: none;
}

.slider-item-shown {
  display: block;
}

.slider-item-image-wrapper {
  /*position: relative;*/
  /*width: 620px;*/
}


/* ========================================================================= */
/* ========================================================================= */
