.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ================================= хедер ================================= */
.header-logo-order-wrapper {
  background-color: #293449;
  display: flex;
  min-width: 960px;
}

.header-user-main-menu-wrapper {
  background-color: #f4f7f9;
  min-width: 960px;
}

.header-logo-order-container {
  display: flex;
  position: relative;
}

.header-logo-container {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  position: relative;
  flex-shrink: 0;
}

.header-logo-container::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #b52933;
  bottom: -5px;
  left: 0;
  position: absolute;
}

.header-logo {
  margin: 13px auto 0 auto;
  display: block;
}

.header-logo-container:hover,
.header-logo-container:focus {
  background-color: #ca2c37;
}

.header-logo-container:active {
  background-color: #ba2732;
}

.header-logo-container:hover::after,
.header-logo-container:focus::after {
  background-color: #9a212a;
}

.header-logo-container:active::after {
  background-color: #8e1e26;
}

.header-search-field {
  border: none;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  margin: 0;
  padding: 0px 0px 1px 48px;
  width: 270px;
  box-sizing: border-box;
}

.header-search-field::placeholder {
  color: #ffffff;
}

.header-search-icon {
  position: absolute;
  left: 247px;
  top: 12px;
}

.header-search-icon path {
  fill: rgba(255, 255, 255, 0.3);
}

.header-search-field:hover {
  background-color: #212a3a;
}

.header-search-field:hover ~ .header-search-icon path {
  fill: #ffffff;
}

.header-search-field:active {
  background-color: #293449;
}

.header-search-field:hover ~ .header-search-icon path {
  fill: rgba(255, 255, 255, 0.3);
}

.header-search-field:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-search-field:focus ~ .header-search-icon path {
  fill: #ee3643;
}

.header-bookmarks-button {
  color: #ffffff;
  width: 150px;
  line-height: 42px;
  padding: 0 0 0 44px;
  position: relative;
  box-sizing: border-box;
}

.header-bookmarks-button::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart-button {
  color: #ffffff;
  width: 150px;
  line-height: 42px;
  padding: 0 0 0 49px;
  position: relative;
  box-sizing: border-box;
}

.header-cart-button::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-order-button {
  color: #ffffff;
  width: 150px;
  line-height: 42px;
  text-align: center;
  background-color: #63a63e;
}

.header-bookmarks-button:hover,
.header-bookmarks-button:focus,
.header-cart-button:hover,
.header-cart-button:focus {
  background-color: #212a3a;
}

.header-bookmarks-button:hover::before,
.header-bookmarks-button:focus::before,
.header-cart-button:hover::before,
.header-cart-button:focus::before {
  opacity: 1;
}

.header-order-button:hover,
.header-order-button:focus {
  background-color: #5fbb2d;
}

.header-bookmarks-button:active,
.header-cart-button:active {
  background-color: #161d29;
}

.header-bookmarks-button:active::before,
.header-cart-button:active::before {
  opacity: 0.5;
}

.header-order-button:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-contacts-user-menu-container {
  padding: 46px 0 0 0;
  display: flex;
}

.header-shop-description {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  width: 200px;
  flex-shrink: 0;
  margin: 3px 0 0 52px;
}

.header-phone-address {
  flex-shrink: 0;
  width: 270px;
  margin: 0 0 0 68px;
}

.header-phone {
  font-size: 21px;
  font-weight: normal;
  line-height: 21px;
  border: 3px solid #ffffff;
  margin: 0;
  padding: 9px 49px 9px 71px;
  color: #ee3643;
  width: 270px;
  box-sizing: border-box;
  position: relative;
}

.header-phone::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 12px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  margin: 4px 0 0 0;
  padding: 0;
}

.header-login-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  width: 121px;
  background-color: #ffffff;
  height: 45px;
  box-sizing: border-box;
  padding: 12px 0 0 46px;
  margin: 0 0 0 70px;
  position: relative;
}

.header-login-button::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 13px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /* иконка с черной (#000000) заливкой. В покое и нажатии заливка #c5c5c5
   (0xc5 = 197). 197 / 255 = 0.77, значит прозрачность 1 - 0.77 = 0.23
   все это для того, чтоб не связываться с инлайном свг и заменой филла
   (а это - то, что предполагают cделать по макету) */
  opacity: 0.23;
}

.header-register-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  width: 150px;
  background-color: #ffffff;
  height: 45px;
  box-sizing: border-box;
  margin: 0 0 0 10px;
  padding: 12px 0 0 23px;
}

.header-login-button:hover,
.header-login-button:focus,
.header-register-button:hover,
.header-register-button:focus {
  color: #ee3643;
}

.header-login-button:hover::before,
.header-login-button:focus::before {
  opacity: 1;
}

.header-login-button:active::before {
  opacity: 0.23;
}

.header-login-button:active,
.header-register-button:active {
  color: rgba(0, 0, 0, 0.3)
}

.header-main-menu {
  list-style: none;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  min-height: 60px;
}

.header-main-menu-item a {
  display: block;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  padding: 0 10px;
  line-height: 60px;
  padding: 0 31px;
}


/* ========================================================================= */
/* ============================== преимущества ============================= */
.promo-features-slider {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: green;
}

.promo-features-slider-container {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 620px;
}

.promo-features-slider-container::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  left: 25px;
  top: 114px;
  background-image: url("../img/features-slider-icon-left.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-features-slider-container::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  right: 20px;
  top: 114px;
  background-image: url("../img/features-slider-icon-right.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-features-slider-item {
  display: none;
}

.slider-item-shown {
  display: block;
}

.slider-item-image-wrapper {
  /*position: relative;*/
  /*width: 620px;*/
}


/* ========================================================================= */
/* ========================================================================= */
